.box {
  max-width: 100%;
  width: 450px;
  height: 275px;
  max-height: 275px;
  box-sizing: border-box;
}

.boxBackground {
  background-color: #191919 !important;
  height: 100%;
}

.image {
  border-radius: 4px;
  max-width: 90%;
  height: auto;
}

.header {
  position: sticky;
  top: 0;
  background-color: black !important;
}

.list {
  max-width: min(1500px, 90%);
}

.link {
  width: 100%;
  height: 100%;
}
