@import "~brainly-style-guide/src/sass/config";
@import "~brainly-style-guide/src/sass/mixins";

.box {
  background-color: #191919;
  padding: spacing(s);
  border-radius: spacing(s);
}

.header {
  position: sticky;
  top: 0;
  background-color: black !important;
  z-index: 1;
}

.list {
  max-width: min(1500px, 90%);
}

.image {
  transition: all 0.1s ease-in;
  border-radius: spacing(s) / 2;
  &:hover {
    border-radius: spacing(s);
    transform: translateY(-8px) scale(1.1);
  }
}
