.container {
  max-width: 1024px;
  margin: auto;
}

.image {
  max-width: 100%;
  height: auto;
}

$ingredientsColor: #2a9961;

.ingredients {
  background-color: $ingredientsColor !important;
}

.steps {
  border-color: $ingredientsColor !important;
}